.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 400px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  flex-basis: 7.69%;
  height: 30.76px;
}

.hole {
  background: linear-gradient(45deg, #484643, #569756);
  border-radius: 50%;
  position: relative;
  border-radius: 50%;
}

.line {
  
}

.horLine {
  position: relative;
}

.verLine {
  position: relative;
}

.horLine .child {
  width: 100%;
  height: 1%;
  position: absolute;
  background: #4a3932;
  top: 49%;
}

.verLine .child {
  background: #4a3932;
  width: 1%;
  height: 100%;
  position: absolute;
  left: 49%;
}

.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  background : #744938;
  z-index: 1;
  border-radius: 50%;
}

.soldier {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}